_book
.ipynb_checkpoints
*.ipynb

*.root
*.log
*.out
*.so
*.o
*.save
*.dat
node_modules
book.pdf
*~
build
linkcheck

# external repositories
k4marlinwrapper/
k4simdelphes/
key4hep-tutorials
k4fwcore/
k4edm4hep2lcioconv
